<template>
  <v-card max-width="500" class="mx-auto">
    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Update To-Do</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field v-model="todoItem.action"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="updateAction">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-toolbar color="pink" dark>
      <v-toolbar-title>To Do List</v-toolbar-title>
    </v-toolbar>

    <v-list two-line>
      <v-list-item-group active-class="pink--text">
        <template v-for="(todoItem, index) in todoItems">
          <v-list-item :key="todoItem._id">
            <v-list-item-content>
              <!-- <v-text-field flat solo dense v-model="todoItem.action"></v-text-field> -->
              <v-list-item-title v-text="todoItem.action"></v-list-item-title>
            </v-list-item-content>

            <v-list-item-action>
              <v-checkbox
                v-model="todoItem.status"
                color="primary"
                @change="updateStatus($event, todoItem._id)"
              ></v-checkbox>
            </v-list-item-action>

            <v-list-item-action>
              <font-awesome-icon icon="pencil-alt" @click="startDialog(todoItem)"/>
              <font-awesome-icon icon="trash" @click="onDelete(todoItem._id)"/>
            </v-list-item-action>
          </v-list-item>

          <v-divider v-if="index + 1 < todoItems.length" :key="index"></v-divider>
        </template>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      todoItem: {}
    };
  },
  computed: {
    todoItems() {
      return this.$store.getters.GETTERS_TODO_ITEMS;
    }
  },
  methods: {
    startDialog(todoItem) {
      this.dialog = true;
      this.todoItem = todoItem;
    },
    onDelete(_id) {
      this.$store.dispatch(`ACTIONS_DELETE_TODO`, _id);
    },
    updateAction() {
      this.dialog = false;
      this.$store.dispatch(`ACTIONS_UPDATE_TODO_ACTION`, this.todoItem);
      this.todoItem = {};
    },
    updateStatus(status, _id) {
      if (status) {
        this.start();
        setTimeout(() => {
          this.stop();
        }, 3000);
      }
      this.$store.dispatch(`ACTIONS_UPDATE_TODO_STATUS`, { status, _id });
    },
    onStartUpdate() {},
    start() {
      this.$confetti.start();
    },
    stop() {
      this.$confetti.stop();
    },
    love() {
      this.$confetti.update({
        particles: [
          {
            type: "heart"
          },
          {
            type: "circle"
          }
        ],
        defaultColors: ["red", "pink", "#ba0000"]
      });
    }
  }
};
</script>
